@font-face {
  font-family: normalFont;
  src: url(../fonts/f-normal.ttf);
  src: url(../fonts/f-normal.otf); }
@font-face {
  font-family: stripFont;
  src: url(../fonts/f-striped.ttf);
  src: url(../fonts/f-striped.otf); }
/*** Global ***/
body {
  overflow-x: hidden; }

p {
  font-family: courier; }

nav {
  background-color: #FFF; }
  nav .social {
    margin-right: 10px;
    position: absolute;
    right: 0; }
  nav .button-collapse i {
    height: 20px;
    padding-left: 10px;
    color: black; }
  nav .button-collapse:hover i {
    height: 20px;
    padding-left: 10px;
    color: darkgray; }
  nav .page-tag {
    top: 0;
    font-family: stripFont;
    font-size: 1.2em !important; }
  nav #slide-out {
    background-color: transparent;
    box-shadow: none; }
    nav #slide-out a {
      color: white;
      font-size: 4.2em; }
    nav #slide-out a:hover {
      color: #3BFC34; }
  nav .side-nav {
    top: 33%; }

.divide {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid white; }

.bio-section p {
  font-size: 1.6em; }

.typed-column {
  position: relative; }

.typed-statement {
  height: 100px; }

.typed-cursor {
  display: none; }

.typed-words {
  color: #3BFC34;
  text-align: left;
  font-size: 1.2em;
  line-height: 2.4em;
  position: absolute;
  right: 50px;
  bottom: 0;
  font-family: courier; }

.bg-section {
  background-color: #000;
  background-image: url(../img/background.jpg);
  font-family: stripFont;
  color: white;
  padding-top: 0; }
  .bg-section .row {
    margin: 0 auto; }
  .bg-section h1 {
    font-family: courier; }
  @media only screen and (max-width: 600px) {
    .bg-section .header {
      font-size: 2.4em;
      text-align: center; }
    .bg-section .bg-cta {
      font-size: 1.2em;
      text-align: center; } }

.slider .active {
  display: block; }
.slider li {
  display: none; }

.bg-cta {
  color: #3BFC34;
  text-align: left;
  font-size: 2.4em;
  line-height: 2.4em;
  height: 200px;
  font-family: stripFont; }
  .bg-cta .fa-plus {
    font-size: 0.4em;
    vertical-align: middle;
    color: #3BFC34; }

#portfolio {
  background-color: #FFF; }

.cnt-area {
  position: relative; }
  .cnt-area .page-tag {
    position: absolute;
    left: 10px;
    top: 0%;
    padding: 1em;
    font-family: stripFont;
    font-size: 1.3em; }
  .cnt-area #projects {
    padding: 5rem 0; }

.project-paragraph {
  padding-top: 3em;
  padding-left: 2em; }

#resume-section {
  background-color: #2c3e50;
  position: relative;
  height: 100%; }
  #resume-section span {
    display: block;
    color: #7f8c8d !important; }
  #resume-section h3 {
    color: #f1c40f;
    font-family: normalFont;
    margin: 0; }
  #resume-section h4 {
    color: #bdc3c7;
    font-size: 20px;
    font-family: stripFont; }
  #resume-section .top-header {
    padding-top: 5rem; }
  #resume-section p, #resume-section span {
    color: #FFF;
    font-family: courier; }
  #resume-section .page-tag {
    position: absolute;
    left: 10px;
    top: 0%;
    padding: 1em;
    font-family: stripFont;
    font-size: 1.3em; }
  #resume-section #skill-bars {
    margin-top: 2em; }
  #resume-section .contact-icon {
    display: block;
    z-index: 10; }
    #resume-section .contact-icon .fa {
      color: #FFF;
      font-size: 1.5em;
      padding: 1em;
      z-index: 11; }
  #resume-section .contact-icon:hover .fa {
    color: #f1c40f; }

@media only screen and (max-width: 600px) {
  .bg-cta {
    display: block; } }
@media only screen and (min-width: 993px) {
  .cta-group {
    padding-left: 1em;
    padding-top: 1.4em; }

  .section {
    min-height: 500px; } }

/*# sourceMappingURL=style.css.map */
